[user]
	name = 1036-ce
	email = 2376030467@qq.com
[http]
  ; proxy = http://127.0.0.1:7897
  proxy = http://10.1.113.45:8889
	; sslverify = false
[https]
  ; proxy = https://127.0.0.1:7897
  proxy = http://10.1.113.45:8889
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = restore --staged
	last = log -1 HEAD
	history = log --oneline --graph --all
[init]
	defaultBranch = main
